@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar{
    width:100% !important;
    border:none !important;
    font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation{
    font-weight: 600 !important;
}

.react-calendar__tile--active{
    background-color: #B5CED3 !important;
    color: #144E5A !important;
    font-weight: 700 !important;
}

.rbc-btn-group:first-child{
    display:none !important;
}

.rbc-toolbar-label{
    text-align: right !important;
    padding: 0px 20px  !important;
}

.rbc-btn-group:last-child{
    font-size: 13px !important;
}

.rbc-btn-group:last-child button{
    border: none !important;
    background-color: #144E5A !important;
    color: #ffffff !important;
    margin-left: 2px !important
}

.rbc-toolbar button.rbc-active{
    background-color: #B5CED3 !important;
    color: black !important;
    box-shadow: none !important;
}

.rbc-today{
    background-color: #B5CED3 !important;
    color: 144E5A !important;
    font-weight: 700 !important;
}

.rbc-time-header{
    display: none !important;
}

.rbc-event-label{
    color: gray !important;
    margin-bottom: 5px !important;
}